<div class="artist-details">
    <h1 class="artist-details-title">
        <span class="artist-details-name">{artist-name}</span>
        <span class="artist-details-space"> </span>
        <span class="artist-details-birthday">(<span class="birth-date">{birthday}</span></span>
        <span class="artist-details-dash">-</span>
        <span class="artist-details-deathday"><span class="death-date">{deathday}</span>)</span>
    </h1>
    <p class="artist-details-nationality">{nationality}</p>
    <p class="artist-details-biography" lang="en">{biography}</p>
</div>

